<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RunOnEc2Startup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RunOnEc2Startup.Properties.Settings>
            <setting name="UserDataAddress" serializeAs="String">
                <value>http://169.254.169.254/latest/user-data</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value>run-on-startup</value>
            </setting>
            <setting name="Value" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="ProcessFileName" serializeAs="String">
                <value>C:\Data\cafam-import.bat</value>
            </setting>
            <setting name="InstanceIdAddress" serializeAs="String">
                <value>http://169.254.169.254/latest/meta-data/instance-id</value>
            </setting>
            <setting name="AwsAccessKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AwsSecretAccessKey" serializeAs="String">
                <value />
            </setting>
            <setting name="StopInstanceOnExit" serializeAs="String">
                <value>False</value>
            </setting>
        </RunOnEc2Startup.Properties.Settings>
    </applicationSettings>
</configuration>